.container {
    display: flex;
    justify-content: space-between; /* Les éléments sont répartis avec un espace entre eux */
    align-items: center; /* Les éléments sont alignés verticalement */
    padding: 10px; /* Ajouter un peu d'espace autour des éléments */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
    margin-left: 20px; /* Ajouter un espacement entre les éléments de la liste */
}

.logo {
    height: 40px; /* Ajuster la hauteur du logo selon vos besoins */
}
